<footer class="outer">
    <div class="footer-container inner">
        <div class="footer-block">
            <h5>Contact Us</h5>
            Contact Info
        </div>
        <div class="footer-block">
            <h5>Find Us</h5>
            Address Info
        </div>
        <div class="footer-block">
            <h5>Connect With Us</h5>
            Social Media Info
        </div>
    </div>
    <hr/>
    <div class="footer-links inner">
        <a class="footer-info" href="#">Disclaimer</a> /
        <a class="footer-info" href="#">Privacy</a> /
        <a class="footer-info" href="#">Copyright Notice</a> /
        <span class="footer-info">Royal Charter Number: RC000797</span>
    </div>
</footer>
